.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
	margin: 1rem auto 1.7rem auto;
	font-family: Aladin, Rancho, Delius Unicase, Berkshire Swash, serif;
}

.underline-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 4px;
  margin: 3.0rem auto 0 auto;
  width: 50%;
}

.lingkaran{
	position: absolute;
	width: 150px;
	height: 150px;  
	border-radius: 25px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	border-radius: 100%;
	left: 50%;
	transform: translateX(-50%);
  margin: 16.0rem auto 0 auto;
}

#container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
	font-size: 20px;
	font-family: Aladin, Rancho, Delius Unicase, Berkshire Swash, serif;
	background: #00ffff57;
	color: #000000;
	border-radius: 50px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height:32px;
	margin: 8.8rem auto 0rem auto;
	width: 270px;
}


#greating {
  position: absolute;
	font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  margin: 12.8rem auto 0rem auto;
	font-size: 23px;
	font-family: Aladin, Rancho, Delius Unicase, Berkshire Swash, serif;

}

.jam-digital { 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 4.5rem auto 1.0rem auto;
	display: table;
	height: 50px;  
}
.hours{
	background-color: #00ffff57;
	float: left;
  width: 80px;
  height: 40px;
  margin-right: 15px;
	vertical-align: middle;
	text-align: center;
  padding: 0 20px; 
	border-radius: 15px;
}
.minute{
	float:left; 
	width:80px; 
	height:40px; 
	background-color:#00ffff57;
	border-radius: 15px;
} 
.second{
	background-color: #00ffff57;
	float: left;
  width: 80px;
  height: 40px;
  margin-left: 15px;
	vertical-align: middle;
  padding: 0 20px;
	border-radius: 15px;
}

.jam-digital p{
	font-family: Aladin, Rancho, Delius Unicase, Berkshire Swash, serif;
	color:#000000; 
	font-weight: bold;
	font-size:27px; 
	text-align:center; 
  margin-top: 0px;
  margin-bottom: 0rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  text-align: center;
  font-family: Aladin, Rancho, Delius Unicase, Berkshire Swash, serif;
  font-weight: bold;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

.tema {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 15rem auto 0.0rem auto;
  --hue: var(--hue-neutral);
  padding: none;
  display: flex;
  width: 120vw;
  height: 105vh;
  justify-content: center;
  align-items: center;
}

.tema.correct {
  --hue: var(--hue-correct);
}

.tema.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 10px 1px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 100px;
  padding: 1px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: purple;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1px 60px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
