.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem auto 1.7rem auto;
  font-family: Aladin, Rancho, Delius Unicase, Berkshire Swash, serif;
}

.underline-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 4px;
  margin: 3.0rem auto 0 auto;
  width: 50%;
}

.lingkaran{
  position: absolute;
  width: 150px;
  height: 150px;  
  border-radius: 25px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 16.5rem auto 0 auto;
}

#container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-family: Aladin, Rancho, Delius Unicase, Berkshire Swash, serif;
  background: #00ffff57;
  color: #000000;
  border-radius: 50px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height:30px;
  margin: 9rem auto 0rem auto;
  width: 260px;
}

#greating {
  position: absolute;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height:30px;
  width: 260px;
  background: #00ffff57;
  margin: 12.8rem auto 0rem auto;
  font-size: 23px;
  font-family: Aladin, Rancho, Delius Unicase, Berkshire Swash, serif;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

$main: rgba(255,255,255,.75);

.type-container{
  position: relative;
  font-size: 1,5rem;
  display: flex;
  justify-content: center;  
  align-items: center;
}

#line{
  font-size: 20px;
  position: absolute;
  margin: 28rem auto 0rem auto;
  left: 50%;
  transform: translateX(-50%);
}

.cursor{
  height: 2rem;
  width: 2px;
  margin-left:2px;
  background: $main;
  animation: blinkTextCursor 800ms infinite;
}

@keyframes blinkTextCursor{
  from{opacity: 1;}
  to{opacity: 0;}
}

audio {
  display: none;
}

button1 {
  font-size: 15px;
  color: #eee;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  padding: 115px;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.jam-digital { 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 4.5rem auto 1.0rem auto;
  display: table;
  height: 50px;  
}
.hours{
  background-color: #00ffff57;
  float: left;
  width: 80px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
  text-align: center;
  padding: 0 20px; 
  border-radius: 15px;
}
.minute{
  background-color:#00ffff57;
  float:left; 
  width:80px; 
  height:40px; 
  border-radius: 15px;
} 
.second{
  background-color: #00ffff57;
  float: left;
  width: 80px;
  height: 40px;
  margin-left: 15px;
  vertical-align: middle;
  padding: 0 20px;
  border-radius: 15px;
}

.jam-digital p{
  color:#000000; 
  font-size:27px; 
  text-align:center; 
  margin-top: 0px;
  margin-bottom: 0rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  text-align: center;
  font-family: Aladin, Rancho, Delius Unicase, Berkshire Swash, serif;
  font-weight: bolder;
}
